
*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  background: url(image/po.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;


}
.navbar{
  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px;
  align-items: center;
  justify-content:flex-end;

}
ul{
  margin-top: 3%;
}

ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 16px;
}

ul li a{
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: darkgray;
  margin-top: -3%;
}

ul li a:hover{
  color:#0ef
}
.info{
  margin-top: 6%;
  margin-left: 7%;
  color: darkgray;
}

h3,h1{
  color: antiquewhite;
}